<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/app.css}"/>

    <title>Countries of the World</title>
</head>
<body>
<header>
    <div class="container">
        <h1><a href="/index.html">Countries of the World</a></h1>
    </div>
</header>
<div class="container">
    <div>
        <h3>Sort by:</h3>
        <div class="sort">
            <div class="name"><a href="/sortby/name">Name</a></div>
            <div class="population"><a href="/sortby/population">Population</a></div>
        </div>
    </div>
    <div th:each="country : ${countries}" class="country">
        <a th:href="'/countries/' + ${country.name}">
            <img th:src="'/flags/'+ ${country.name} + '.png'" th:alt="'Flag of ' + ${country.name}"/>
            <h4 th:text="${country.name}">India</h4>
        </a>
    </div>
</div>
</body>
</html>